.search-page {
  padding: 2rem;
  @include flex(row, flex-start, stretch, 2rem);

  > aside {
    min-width: 20rem;
    @include baseShadow;
    padding: 2rem;
    border-radius: 12px;
    @include flex(column, flex-start, stretch, 0.5rem);

    > h2 {
      @include heading;
    }

    > div {
      > input,
      > select {
        @include inputStyle(100%, 0.6rem, transparent, 1px solid grey);
        border-radius: 6px;
      }
    }
  }

  > main {
    width: 100%;
    padding: 0 2rem;
    > h1 {
      @include heading;
    }
    > input {
      @include inputStyle(100%, 0.6rem, transparent, 1px solid grey);
      border-radius: 6px;
      margin-bottom: 2rem;
    }
    .search-product-list {
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
      overflow-y: auto;
    }

    article {
      margin-top: 2rem;
      @include flex;
      > button {
        @include flex;
        @include btn(0.5rem 1rem, $color1, #fff);
        border-radius: 50px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        &:disabled {
          cursor: default;
          opacity: 0.5;
        }
      }
      > span {
        min-width: 80px;
        text-align: center;
      }
    }
  }
}
